@model IEnumerable<SeaportClientApplication.Models.Ship>

@{
    ViewBag.Title = "Liste der inaktiven Schiffe";
}

<h2>Liste der inaktiven Schiffe</h2>

<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Aktivieren", "Activate", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id })
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Zurück zur Liste", "Index")
</p>
